# Ignore everything
*

# But not these files...
!main.py
!load_data.py
!README.md
!requirements.txt
!celebrity_images.json

# ...and not this directory and its contents
!templates/
!templates/index.html